html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #d2cfcf 0px 3px 10px -2px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  padding: 10px;
}

.nav-logo {
  width: 60px;
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #737272;
  color: white;
}
